html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Roboto', sans-serif !important;
}
/* NAVBAR */
.navbar{
  background-color: lightgray !important;
}

h5{
  font-size: 60px;
}

.carousel-caption p{
padding-bottom: 500px;
font-size: 20px;
}

#form {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
  background-color: lightblue;
  padding-top: 10px;
  border-radius: 5px;
  margin-right: 175px;
  margin-left: 175px;

}

#book{
  background-color: whitesmoke;
  min-height: 400px;
  padding-top: 50px;

}

#form input, button, select{
  text-align: center;
  border: 1px solid;
  height: 50px;
  border: none;
  border-radius: 2px;
  color: grey;
}
/* 
.div1{
  display: inline-flex;
} */

.price{
  font-size: 20px;
  margin-top: 50px;
  padding-left: 25px;
}
.price3{
  font-size: 20px;
  margin-top: 50px;
  padding-left: 25px;
  padding-bottom: 100px;
}

.price3 img{
  width: 25%;
}

.price3 p{
  display: inline-flex;
  padding-left: 50px;
}

.price img{
  width: 25%;
}



.price p{
  display: inline-flex;
  padding-left: 50px;
}

.page-footer{
  background-color: lightgray !important;
}

#confirmed{
  color: green !important;
  text-align: center;
  font-size: 50px;

}




h2{
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
}

button{
  background-color: blue;
  color: white;
  border: none;
  width: 100px;
}

@media(max-width: 1234px){
   input, select, button{
    float:none;
    text-align:center;
    width:100%;
    background-color: black;
  }

}

@media(max-width: 1234px){
  #book{
    padding-bottom: 100px;
    padding-top: 50px;
  }
}