html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Roboto', sans-serif !important;
}


#form {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
  background-color: lightblue;
  padding-top: 10px;
  border-radius: 5px;
  margin-right: 175px;
  margin-left: 175px;
  

}

#form input, button, select{
  text-align: center;
  border: 1px solid;
  height: 50px;
  border: none;
  border-radius: 2px;
  color: grey;
}
/* 
.div1{
  display: inline-flex;
} */

.price{
  background-color: aquamarine;
  font-size: 20px;
  margin-top: 50px;
  padding-left: 25px;
}

.price img{
  width: 25%;
}

.price p{
  display: inline-flex;
}




h2{
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
}

button{
  background-color: blue;
  color: white;
  border: none;
  width: 100px;
}